doctype html
html(lang="zh-hant")
    head
        title Test Page
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no")
    body
        h1 Test Page
        p 服務正常啟動，AP請連接 ws://smarthome.liwrar.net:3003/api